.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modal {
  width: 250px;
  height: 300px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  background-color: #2d2d2d;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid black;
}

.modal-header h3 {
  margin: 0;
  color: white;
}

.modal-header button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.modal-body {
  margin-top: 10%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-body input {
  display: block;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 3px;
  border: 1px solid black;
  background-color: #1a1a1a;
  color: white;
}

.close-btn:hover {
  background-color: #005580;
  border-radius: 40%;
}

.error {
  color: white;
  margin-top: 8px;
}